<form [formGroup]="contactForm">
  <div class="mb-3">
    <label class="form-label">Id</label>
    <input type="text" class="form-control" name="id" formControlName="id">
  </div>
  <div class="mb-3">
    <label class="form-label">Name</label>
    <input type="text" class="form-control" name="name" formControlName="name">
  </div>
  <div class="mb-3">
    <label class="form-label">Price</label>
    <input type="number" class="form-control" id="price" formControlName="price">
  </div>
  <div class="mb-3">
    <label class="form-label">Category</label>

  </div>
  <div class="mb-3">
    <label class="form-label">Description</label>
    <input type="text" class="form-control" id="description" formControlName="description">
  </div>
</form>

<div class="modal-footer">
  <a [routerLink]="['/product-list']" class="btn btn-primary">Back</a>
  <a [routerLink]="['/product-list']" (click)="editProduct()" class="btn btn-primary">Save</a>
</div>
